* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
}
header {
    height: 900px;
    width: 1920px;
    margin: 0 auto;
    background: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    width: 100%;
    max-width: 1600px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav .menu{
    list-style-type: none;
    display: flex;
    gap: 30px;
    text-decoration: none;
    align-items: center;

}
nav .menu a {
    text-decoration: none;
    color: #474747;
    font-weight: 600;
    font-size: 20px;
}
.btn {
    padding: 15px 25px;
    background-color: #6050E7;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
#banner {
    width: 100%;
    max-width: 1600px;
    margin: 100px auto 0 auto;
    text-align: center;
}
