* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
}
header {
    height: 720px;
    width: 1920px;
    margin: 0 auto;
    background: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    width: 100%;
    max-width: 1600px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height : 92px;

}
nav .menu{
    list-style-type: none;
    display: flex;
    gap: 30px;
    text-decoration: none;
    align-items: center;

}
nav .menu a {
    text-decoration: none;
    color: #474747;
    font-weight: 600;
    font-size: 20px;
}
.btn {
    padding: 15px 25px;
    background-color: #30B868;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
.button{
    padding: 15px 25px;
    background-color: #30b86900;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 3px;
}

#banner{
    padding-top: 220px;
    padding-bottom: 179.5px;
    padding-left: 120px;
    padding-right: 120px;

}
#banner .banner-content{
    width: 70%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}
.banner-content .section-heading h1 {
    font-size: 79px;
    color: white;

}
.banner-content .section-heading p {
    max-width: 700px;
    line-height: 24px;
    font-size: 18px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 0px;
    color: white;
}
span {
    color: #30B868;
}
#notes .card-container {
    width: 70%;
    max-width: 1360px;
    margin: 0 auto;
}
.card-container .card-box {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.card-box .info-card  {
    padding: 30px;
    max-width: 322px;
    box-shadow: 10px 0 15px 0 #00000020;
    padding-bottom: 40px;
    padding-top: 30px;
    text-align: center;

}
.info-card img {
    max-width: 322px;
    padding: 15px;

    background-color: #F95555;
    border-radius: 100px;
    margin-top: 69px;

    
}
.info-card h3 {
    font-size: 24px;
    color: #181818;
    margin-bottom: 16px;
    text-align: center;
    font-weight: 600;
}

.info-card p {
    font-size: 16px;
    color: #757575;
    text-align: center;
    margin-bottom: 21.5px;    
    
}
.card-container .section-heading {
    max-width: 1360px;
    text-align: center;
    margin: 0 auto;;
}

.card-container .section-heading h1 {
    font-size: 48px;
    line-height: 30px;
    padding-top: 60px;
    color: #001931;

}
.card-container .section-heading p {
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
    padding-top: 16px ;

}

#solution {
    width: 70%;
    max-width: 1360px;
    margin: 120px;
    display: flex;
    justify-content: space-between;   
    align-items: center;
}
#solution .solve-content {
    max-width: 700px;
    margin: 60px;
}
#solution .solve-content h4 {
    font-weight: 600;
    color: #30B868;
    margin-bottom: 5px;
    
}
#solution .solve-content h1 {
    font-size: 48px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#solution .solve-content p {
    font-size: 16px;
    color: #757575;
    line-height: 20px;
    margin-bottom: 40px;
    letter-spacing: 0px;
}
#solution .solve-image img {
    width: 600px;
    height: 600px;
    margin-left: 180px;
    
}
#solution .solve-content li {
    display: flex;
    list-style: none;
    line-height: 20px;
    letter-spacing: 0px;
    gap: 5px;
    margin: 5px
    
    

}

#clear .clear-container {
    width: 70%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    background-color: #F7F6F2;
    padding: 131px 156px;
    margin-top: 120px;
    margin-bottom: 120px;
    border-radius: 10px;
    align-items: center;
}



.clear-container .section-heading {
    width: 100%;
    text-align: center;
    margin: 0 auto;;
}

.clear-container .section-heading h2 {
    font-size: 40px;
    line-height: 30px;
    padding-top: 60px;
    color: #001931;

}
.clear-container .section-heading p {
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
    padding-top: 16px ;

}
.clear-container .info-clear p {
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
    padding-top: 16px ;
}
footer {
    background-color: rgb(1, 1, 54);
    margin-top: 0px;
    padding: 120px 120px 120px 120px;
    max-height: 400px;


}
#footer .footer-container {
    width: 70%;
    max-width: 1360px;
    color: white;
    align-items: center;
    text-align: center;
    margin: 0 auto;

}
#footer .footer-container .flex {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;

}
#footer .footer-container .flex a{
    color: white;
}
#footer .copy{
  width: 70%;
  max-width: 1360px; 
  max-height: 200px;
  padding-top: 130px;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  

  
}
#footer .copy p{
    padding-top: 30px;
    color: white;
    font-size: 18px;
}
#footer .copy hr {
    border: 0;
    height: 2px;
    background-color: rgba(33, 33, 155, 0.583);
}




