* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
}
header {
    height: 720px;
    width: 1920px;
    margin: 0 auto;
    background: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    width: 100%;
    max-width: 1600px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height : 92px;
    border: #30B868 1px solid;

}
nav .menu{
    list-style-type: none;
    display: flex;
    gap: 30px;
    text-decoration: none;
    align-items: center;

}
nav .menu a {
    text-decoration: none;
    color: #474747;
    font-weight: 600;
    font-size: 20px;
}
.btn {
    padding: 15px 25px;
    background-color: #30B868;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

#banner{
    padding-top: 220px;
    padding-bottom: 179.5px;
    padding-left: 120px;
    padding-right: 120px;

}
#banner .banner-content{
    width: 70%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}
.banner-content .section-heading h1 {
    font-size: 79px;
    color: white;

}
.banner-content .section-heading p {
    max-width: 700px;
    line-height: 24px;
    font-size: 18px;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 0px;
    color: white;
}
span {
    color: #30B868;
}





